<form action="/pirates" method="post">
  <label for="pirate[name]">Pirate Name: </label>
  <input type="text" name="pirate[name]"><br>
  <label for="pirate[weight]">Pirate Weight: </label>
  <input type="text" name="pirate[weight]"><br>
  <label for="pirate[height]">Pirate Height: </label>
  <input type="text" name="pirate[height]"><br>

  <label for=""></label>
  <input type="text" name=""><br>
  <label for=""></label>
  <input type="text" name=""><br>
  <label for=""></label>
  <input type="text" name=""><br>
  <label for=""></label>
  <input type="text" name=""><br>
</form>


