<h1><%= Pirates.all.first.name Pirates.all.first.weight Pirates.all.first.height%></h1>


<h2><%= Ship.all[0].name Ship.all[0].type Ship.all[0].booty %></h2>


<h2><%= Ship.all[1].name Ship.all[1].type Ship.all[1].booty %></h2>
